@import url('https://fonts.googleapis.com/css?family=Sintony');

/* font-family: 'Sintony', sans-serif; */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
    font-family: 'Sintony', sans-serif;
}

body {
    width: 100%;
    background-color: white;
}

header {
    background-color: rgba(230, 0, 18, 0.8);
    position: fixed;
}

header p {
    text-align: center;
}

header img {
    width: 30%;
}

.hdiv {
    display: flex;
    margin: auto;
}

header img {
    width: 100%;
    float: left;
    padding: 5px;
}

nav {
    margin: auto;
    text-align: center;
}

ul {
    
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.curent {
    text-decoration: underline;
}

li a {
    text-decoration: none;
    font-size: 40px;
    color: white;
}

li a:hover {
    text-decoration: underline;
}

.flex1 {
    width: 20%;
    padding: 20px;
}

.flex2 {
    width: 60%;
    padding: 20px;
}

#kassaButtonKontainer {
    margin: auto;
    margin-top: 17%;
    text-align: center;
}

#kassaButton {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

#kassaButton:hover {
    text-decoration: underline;
}

.maindiv {
    background-color: rgba(235,235,235,1);
    padding: 40px;
}

main {
    
}

main div {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin: auto;
    margin-bottom: 30px;
}

#dash {
    margin-top: 150px;
}

main .h {
    text-align: center;
    font-size: 70px;
    color: rgba(230, 0, 18, 1);
    padding: 20px;
}

main img {
    width: 50%;
    margin: auto;
    padding: 20px;
}

#flerapockys {
    width: 100%;
}

main p {
    text-align: center;
    font-size: 30px;
}

.p1 {
    text-align: left;
}

.kontroll {
    width: 60%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    font-size: 40px;
}

table, th, td {
    border: 1px solid #CCC;
}

td {
    padding: 0px 7px;
}

table #antal{
    width: 34%;
}

table #plus {
    width: 33%;
}

table #kop {
    background: red;
    color: #FFF;
    width: 33%;
}

table #kop:hover {
    background: darkred;
}

table #plus:hover, table #minus:hover {
    background: #BBB;
}

footer {
    background-color: rgba(230, 0, 18, 0.8);
    padding: 40px;
    text-align: center;
}

footer h2 {
    color: white;
    font-size: 35px;
}

footer p {
    color: white;
    font-size: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}



